@font-face {
    font-family: myFont;
    src: url('font/GE_SS_Two_Bold.otf')
}
@font-face {
    font-family: myFont2;
    src: url('font/DroidKufi-Regular.ttf')
}
body {
    font-family: myFont2;
    padding-top: 100px;
 
}
.navbar-default {
    background-color: #0c5c82;
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav > li > a {
   color: #e7e7e7;
   font-family: myFont;
}

.navbar-default .navbar-nav > li > a:hover{
   color: #fff;
}
.nav > li{
    display: block;
    padding-top: 10px;
}
.logo-size{
    width: 120px;
    height: 35px;
    margin-top: -4px;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}  
