@using Microsoft.AspNet.Identity
@using Dawaly.Models


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoff" }))
    {

        var db = new ApplicationDbContext();
        var CurrentUserID = User.Identity.GetUserId();
        var UserCurrent = db.Users.Where(a => a.Id == CurrentUserID).SingleOrDefault();

        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav ">
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <strong>Hello: @UserCurrent.UserName</strong>
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
        <ul class="dropdown-menu" role="menu"
            style="background-color: black; 
            margin-top:2px; padding-left:10px">
            <li>
                <div class="navbar-user">
                    <div class="row h4">
                        <div class="col-lg-8 text-left">
                            @if (UserCurrent.UserType == "publisher")
                            {
                                <a href="~/Places/Index"
                                   class="btn btn-primary glyphicon glyphicon-home"
                                   style="margin-bottom:5px"> places</a>
                                <a href="~/Home/GetPlacesByPublisher"
                                   class="btn btn-primary glyphicon glyphicon-envelope"
                                   style="margin-bottom:5px"> requests</a>
                                <a href="~/Places/Create"
                                   class="btn btn-primary glyphicon glyphicon-plus-sign"
                                   style="margin-bottom: 5px; margin-right:10px">
                                    create newplace
                                </a>
                                <a href="~/Account/EditProfile"
                                   class="btn btn-primary glyphicon glyphicon-edit"
                                   style="margin-bottom:5px"> edit profile</a>

                            }
                            else if (UserCurrent.Email == "mohamed@gmail.com")
                            {
                                <a href="~/Categories/Index"
                                   class="btn btn-primary glyphicon glyphicon-home"
                                   style="margin-bottom:5px"> Caregories</a>
                                <a href="~/Places/Index"
                                   class="btn btn-primary glyphicon glyphicon-home"
                                   style="margin-bottom:5px"> Manage places</a>
                                <a href="~/Home/GetPlacesByPublisher"
                                   class="btn btn-primary glyphicon glyphicon-envelope"
                                   style="margin-bottom:5px"> Manage requests</a>
                                <a href="~/Home/GetPlacesbyUser"
                                   class="btn btn-primary glyphicon glyphicon-home"
                                   style="margin-bottom:5px"> places booked</a>
                            }
                            else
                            {
                                <a href="~/Home/GetPlacesbyUser"
                                   class="btn btn-primary glyphicon glyphicon-home"
                                   style="margin-bottom:5px"> places booked</a>
                                <a href="~/Account/EditProfile"
                                   class="btn btn-primary glyphicon glyphicon-edit"
                                   style="margin-bottom:5px"> edit profile</a>
                            }

                        </div>
                    </div>
                </div>
            </li>
            <li class="divider"></li>
            <li>
                <div class="row">
                        <div class="col-lg-12">
                            <p>
                                <a href="javascript:document.getElementById('logoff').submit()" 
                                   class="btn btn-primary glyphicon glyphicon-log-out"> logout</a>
                            </p>
                        </div>
                    </div>
            </li>
        </ul>
    </li>
</ul>
 }
}

else
{
<ul class="nav navbar-nav">
    <li>
        <a href="~/Account/Register" style="color:white">
            <i class="glyphicon glyphicon-lock">
                Register
            </i>
        </a>
    </li>
    <li>
        <a href="~/Account/Login" style="color:white">
            <i class="glyphicon glyphicon-user">
                Login
            </i>
        </a>
    </li>
</ul>
}
